html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.alignment-container {
    display: flex;
    flex-direction: column;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 450px;
}

.display {
    flex: auto;
    border: 1px solid black;
}

.calc-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: auto;
}

.btn-row {
    display: flex;
    justify-content: center;
}

button {
    height: 64px;
    width: 64px;
    margin: 6px;
    box-sizing: border-box;
}

[id='0'] {
    width: 140px;
}