html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2d274e;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alignment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 450px;
    border: 4px solid black;
    border-radius: 16px;
    padding: 8px;
    background-color: #a79d97;
    box-shadow: 8px 8px 8px black;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
    border: 1px inset black;
    width: 290px;
    margin: 8px;
    background-color: whitesmoke;
}

.display-content {
    font-size: 28px;
    margin: 4px;
    color: black;
}

.calc-btn-container {
    display: flex;
    flex-direction: column;
}

.btn-row {
    display: flex;
    flex: auto;
}

button {
    height: 64px;
    width: 64px;
    margin: 6px;
    font-size: 24px;
    font-weight: 600;
    border-width: 3px;
    border-radius: 8px;
}

[id='0'] {
    width: 140px;
}

.num-btn {
    background-color: #b9bbbd;
}

.operator-btn {
    background-color: #59334d;
    color: #b9bbbd;
}

.calc-btn {
    background-color: #876867;
    color: #b9bbbd;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: rgb(24, 24, 24);
    color: #b9bbbd;
    width: 100%;
}

.footer-element {
    margin: 16px;
}